.btn-red {
  color: #fff;
  background-color: #FF0000;
  border-color: #D50000;
}
.btn-red:hover,
.btn-red:focus,
.btn-red.focus,
.btn-red:active,
.btn-red.active,
.open > .dropdown-toggle.btn-red {
  color: #fff;
  background-color: #D50000;
  border-color: #D50000;
}
.btn-red:active,
.btn-red.active,
.open > .dropdown-toggle.btn-red {
  background-image: none;
}
.btn-red.disabled,
.btn-red[disabled],
fieldset[disabled] .btn-red,
.btn-red.disabled:hover,
.btn-red[disabled]:hover,
fieldset[disabled] .btn-red:hover,
.btn-red.disabled:focus,
.btn-red[disabled]:focus,
fieldset[disabled] .btn-red:focus,
.btn-red.disabled.focus,
.btn-red[disabled].focus,
fieldset[disabled] .btn-red.focus,
.btn-red.disabled:active,
.btn-red[disabled]:active,
fieldset[disabled] .btn-red:active,
.btn-red.disabled.active,
.btn-red[disabled].active,
fieldset[disabled] .btn-red.active {
  background-color: #D50000;
  border-color: #D50000;
}
.btn-red .badge {
  color: #D50000;
  background-color: #fff;
}




.btn-orange {
  color: #fff;
  background-color: #FE8601;
  border-color: #D37001;
}
.btn-orange:hover,
.btn-orange:focus,
.btn-orange.focus,
.btn-orange:active,
.btn-orange.active,
.open > .dropdown-toggle.btn-orange {
  color: #fff;
  background-color: #D37001;
  border-color: #D37001;
}
.btn-orange:active,
.btn-orange.active,
.open > .dropdown-toggle.btn-orange {
  background-image: none;
}
.btn-orange.disabled,
.btn-orange[disabled],
fieldset[disabled] .btn-orange,
.btn-orange.disabled:hover,
.btn-orange[disabled]:hover,
fieldset[disabled] .btn-orange:hover,
.btn-orange.disabled:focus,
.btn-orange[disabled]:focus,
fieldset[disabled] .btn-orange:focus,
.btn-orange.disabled.focus,
.btn-orange[disabled].focus,
fieldset[disabled] .btn-orange.focus,
.btn-orange.disabled:active,
.btn-orange[disabled]:active,
fieldset[disabled] .btn-orange:active,
.btn-orange.disabled.active,
.btn-orange[disabled].active,
fieldset[disabled] .btn-orange.active {
  background-color: #D37001;
  border-color: #D37001;
}
.btn-orange .badge {
  color: #D37001;
  background-color: #fff;
}




.btn-yellow {
  color: #fff;
  background-color: #EEFB04;
  border-color: #C7D103;
}
.btn-yellow:hover,
.btn-yellow:focus,
.btn-yellow.focus,
.btn-yellow:active,
.btn-yellow.active,
.open > .dropdown-toggle.btn-yellow {
  color: #fff;
  background-color: #C7D103;
  border-color: #C7D103;
}
.btn-yellow:active,
.btn-yellow.active,
.open > .dropdown-toggle.btn-yellow {
  background-image: none;
}
.btn-yellow.disabled,
.btn-yellow[disabled],
fieldset[disabled] .btn-yellow,
.btn-yellow.disabled:hover,
.btn-yellow[disabled]:hover,
fieldset[disabled] .btn-yellow:hover,
.btn-yellow.disabled:focus,
.btn-yellow[disabled]:focus,
fieldset[disabled] .btn-yellow:focus,
.btn-yellow.disabled.focus,
.btn-yellow[disabled].focus,
fieldset[disabled] .btn-yellow.focus,
.btn-yellow.disabled:active,
.btn-yellow[disabled]:active,
fieldset[disabled] .btn-yellow:active,
.btn-yellow.disabled.active,
.btn-yellow[disabled].active,
fieldset[disabled] .btn-yellow.active {
  background-color: #C7D103;
  border-color: #C7D103;
}
.btn-yellow .badge {
  color: #C7D103;
  background-color: #fff;
}




.btn-lime {
  color: #fff;
  background-color: #86FF00;
  border-color: #70D500;
}
.btn-lime:hover,
.btn-lime:focus,
.btn-lime.focus,
.btn-lime:active,
.btn-lime.active,
.open > .dropdown-toggle.btn-lime {
  color: #fff;
  background-color: #70D500;
  border-color: #70D500;
}
.btn-lime:active,
.btn-lime.active,
.open > .dropdown-toggle.btn-lime {
  background-image: none;
}
.btn-lime.disabled,
.btn-lime[disabled],
fieldset[disabled] .btn-lime,
.btn-lime.disabled:hover,
.btn-lime[disabled]:hover,
fieldset[disabled] .btn-lime:hover,
.btn-lime.disabled:focus,
.btn-lime[disabled]:focus,
fieldset[disabled] .btn-lime:focus,
.btn-lime.disabled.focus,
.btn-lime[disabled].focus,
fieldset[disabled] .btn-lime.focus,
.btn-lime.disabled:active,
.btn-lime[disabled]:active,
fieldset[disabled] .btn-lime:active,
.btn-lime.disabled.active,
.btn-lime[disabled].active,
fieldset[disabled] .btn-lime.active {
  background-color: #70D500;
  border-color: #70D500;
}
.btn-lime .badge {
  color: #70D500;
  background-color: #fff;
}




.btn-green {
  color: #fff;
  background-color: #05FA4F;
  border-color: #05CF42;
}
.btn-green:hover,
.btn-green:focus,
.btn-green.focus,
.btn-green:active,
.btn-green.active,
.open > .dropdown-toggle.btn-green {
  color: #fff;
  background-color: #05CF42;
  border-color: #05CF42;
}
.btn-green:active,
.btn-green.active,
.open > .dropdown-toggle.btn-green {
  background-image: none;
}
.btn-green.disabled,
.btn-green[disabled],
fieldset[disabled] .btn-green,
.btn-green.disabled:hover,
.btn-green[disabled]:hover,
fieldset[disabled] .btn-green:hover,
.btn-green.disabled:focus,
.btn-green[disabled]:focus,
fieldset[disabled] .btn-green:focus,
.btn-green.disabled.focus,
.btn-green[disabled].focus,
fieldset[disabled] .btn-green.focus,
.btn-green.disabled:active,
.btn-green[disabled]:active,
fieldset[disabled] .btn-green:active,
.btn-green.disabled.active,
.btn-green[disabled].active,
fieldset[disabled] .btn-green.active {
  background-color: #05CF42;
  border-color: #05CF42;
}
.btn-green .badge {
  color: #05CF42;
  background-color: #fff;
}



.btn-turquoise {
  color: #fff;
  background-color: #02FDFD;
  border-color: #02D2D2;
}
.btn-turquoise:hover,
.btn-turquoise:focus,
.btn-turquoise.focus,
.btn-turquoise:active,
.btn-turquoise.active,
.open > .dropdown-toggle.btn-turquoise {
  color: #fff;
  background-color: #02D2D2;
  border-color: #02D2D2;
}
.btn-turquoise:active,
.btn-turquoise.active,
.open > .dropdown-toggle.btn-turquoise {
  background-image: none;
}
.btn-turquoise.disabled,
.btn-turquoise[disabled],
fieldset[disabled] .btn-turquoise,
.btn-turquoise.disabled:hover,
.btn-turquoise[disabled]:hover,
fieldset[disabled] .btn-turquoise:hover,
.btn-turquoise.disabled:focus,
.btn-turquoise[disabled]:focus,
fieldset[disabled] .btn-turquoise:focus,
.btn-turquoise.disabled.focus,
.btn-turquoise[disabled].focus,
fieldset[disabled] .btn-turquoise.focus,
.btn-turquoise.disabled:active,
.btn-turquoise[disabled]:active,
fieldset[disabled] .btn-turquoise:active,
.btn-turquoise.disabled.active,
.btn-turquoise[disabled].active,
fieldset[disabled] .btn-turquoise.active {
  background-color: #02D2D2;
  border-color: #02D2D2;
}
.btn-turquoise .badge {
  color: #02D2D2;
  background-color: #fff;
}




.btn-blue {
  color: #fff;
  background-color: #0059FF;
  border-color: #004AD5;
}
.btn-blue:hover,
.btn-blue:focus,
.btn-blue.focus,
.btn-blue:active,
.btn-blue.active,
.open > .dropdown-toggle.btn-blue {
  color: #fff;
  background-color: #004AD5;
  border-color: #004AD5;
}
.btn-blue:active,
.btn-blue.active,
.open > .dropdown-toggle.btn-blue {
  background-image: none;
}
.btn-blue.disabled,
.btn-blue[disabled],
fieldset[disabled] .btn-blue,
.btn-blue.disabled:hover,
.btn-blue[disabled]:hover,
fieldset[disabled] .btn-blue:hover,
.btn-blue.disabled:focus,
.btn-blue[disabled]:focus,
fieldset[disabled] .btn-blue:focus,
.btn-blue.disabled.focus,
.btn-blue[disabled].focus,
fieldset[disabled] .btn-blue.focus,
.btn-blue.disabled:active,
.btn-blue[disabled]:active,
fieldset[disabled] .btn-blue:active,
.btn-blue.disabled.active,
.btn-blue[disabled].active,
fieldset[disabled] .btn-blue.active {
  background-color: #004AD5;
  border-color: #004AD5;
}
.btn-blue .badge {
  color: #004AD5;
  background-color: #fff;
}




.btn-indigo {
  color: #fff;
  background-color: #8602FD;
  border-color: #7002D2;
}
.btn-indigo:hover,
.btn-indigo:focus,
.btn-indigo.focus,
.btn-indigo:active,
.btn-indigo.active,
.open > .dropdown-toggle.btn-indigo {
  color: #fff;
  background-color: #7002D2;
  border-color: #7002D2;
}
.btn-indigo:active,
.btn-indigo.active,
.open > .dropdown-toggle.btn-indigo {
  background-image: none;
}
.btn-indigo.disabled,
.btn-indigo[disabled],
fieldset[disabled] .btn-indigo,
.btn-indigo.disabled:hover,
.btn-indigo[disabled]:hover,
fieldset[disabled] .btn-indigo:hover,
.btn-indigo.disabled:focus,
.btn-indigo[disabled]:focus,
fieldset[disabled] .btn-indigo:focus,
.btn-indigo.disabled.focus,
.btn-indigo[disabled].focus,
fieldset[disabled] .btn-indigo.focus,
.btn-indigo.disabled:active,
.btn-indigo[disabled]:active,
fieldset[disabled] .btn-indigo:active,
.btn-indigo.disabled.active,
.btn-indigo[disabled].active,
fieldset[disabled] .btn-indigo.active {
  background-color: #7002D2;
  border-color: #7002D2;
}
.btn-indigo .badge {
  color: #7002D2;
  background-color: #fff;
}





.btn-violet {
  color: #fff;
  background-color: #EB01FE;
  border-color: #C401D3;
}
.btn-violet:hover,
.btn-violet:focus,
.btn-violet.focus,
.btn-violet:active,
.btn-violet.active,
.open > .dropdown-toggle.btn-violet {
  color: #fff;
  background-color: #C401D3;
  border-color: #C401D3;
}
.btn-violet:active,
.btn-violet.active,
.open > .dropdown-toggle.btn-violet {
  background-image: none;
}
.btn-violet.disabled,
.btn-violet[disabled],
fieldset[disabled] .btn-violet,
.btn-violet.disabled:hover,
.btn-violet[disabled]:hover,
fieldset[disabled] .btn-violet:hover,
.btn-violet.disabled:focus,
.btn-violet[disabled]:focus,
fieldset[disabled] .btn-violet:focus,
.btn-violet.disabled.focus,
.btn-violet[disabled].focus,
fieldset[disabled] .btn-violet.focus,
.btn-violet.disabled:active,
.btn-violet[disabled]:active,
fieldset[disabled] .btn-violet:active,
.btn-violet.disabled.active,
.btn-violet[disabled].active,
fieldset[disabled] .btn-violet.active {
  background-color: #C401D3;
  border-color: #C401D3;
}
.btn-violet .badge {
  color: #C401D3;
  background-color: #fff;
}





.btn-grey {
  color: #fff;
  background-color: #B4B4B4;
  border-color: #6A6A6A;
}
.btn-grey:hover,
.btn-grey:focus,
.btn-grey.focus,
.btn-grey:active,
.btn-grey.active,
.open > .dropdown-toggle.btn-grey {
  color: #fff;
  background-color: #6A6A6A;
  border-color: #6A6A6A;
}
.btn-grey:active,
.btn-grey.active,
.open > .dropdown-toggle.btn-grey {
  background-image: none;
}
.btn-grey.disabled,
.btn-grey[disabled],
fieldset[disabled] .btn-grey,
.btn-grey.disabled:hover,
.btn-grey[disabled]:hover,
fieldset[disabled] .btn-grey:hover,
.btn-grey.disabled:focus,
.btn-grey[disabled]:focus,
fieldset[disabled] .btn-grey:focus,
.btn-grey.disabled.focus,
.btn-grey[disabled].focus,
fieldset[disabled] .btn-grey.focus,
.btn-grey.disabled:active,
.btn-grey[disabled]:active,
fieldset[disabled] .btn-grey:active,
.btn-grey.disabled.active,
.btn-grey[disabled].active,
fieldset[disabled] .btn-grey.active {
  background-color: #6A6A6A;
  border-color: #6A6A6A;
}
.btn-grey .badge {
  color: #6A6A6A;
  background-color: #fff;
}